.form {
  display: flex;
  flex-direction: column;
  font-weight: 100;
}

.fieldset {
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EEE;
}

.label {
  margin-left: 1rem;
  line-height: 3;
  white-space: nowrap;
}

.input {
  flex-grow: 1;
  padding-right: 1rem;
  border: none;
  /* border: 1px solid red; */
  font-size: inherit;
  font-weight: 700;
  text-align: right;
  background: transparent;
}

.input--font-family {
  font-weight: 300;
}

input[type="color" i]::-webkit-color-swatch-wrapper {
  padding: 0;
}

input[type="color" i]::-webkit-color-swatch {
  border: none;
}

.input--color {
  flex-shrink: 0;
  height: 3rem;
  border: none;
  background: transparent;
}

.btn {
  flex-grow: 0;
  flex-shrink: 0;
  padding: 1rem 2rem;
  font-weight: 100;
  letter-spacing: 0.1rem;
  color: black;
  border: 1px solid #CCC;
  border-bottom-width: 3px;
  background: transparent;
}

.btn-action {
  border-color: #AAA;
  background: #FF4316;
}

.btn:hover {
  border-color: #AAA;
}

.btn:active {
  padding-top: calc(1rem + 2px);
  border-top-width: 3px;
  border-bottom-width: 1px;
}
